<div ng-init="vm.initializeController()" class="full-height">
    <div layout="column" layout-align="none none" class="top-content">
        <div flex>
            <md-toolbar md-scroll-shrink>
                <div class="md-toolbar-tools">
                    <span>
                        <md-button ui-sref="openpub">OPENPUB</md-button>
                    </span>
                    <span flex></span>
                    <div ng-if="!vm.user">
                        <span>
                            <md-button ui-sref="auth">Sign In</md-button>
                        </span>
                    </div>
                    <div ng-if="vm.user">
                        <span>
                            <md-button ui-sref="auth" ng-click="vm.auth.$signOut()">Sign Out</md-button>
                        </span>
                    </div>
                </div>
            </md-toolbar>
        </div>
    </div>
    <div layout="row" class="main-content">
        <md-content flex="20" class="steps-section" layout="column">
            <div layout="row" layout-align="center center" layout-padding>
                <img src="../../images/guest-128.png" class="" alt="user" />
            </div>
            <div layout-align="center center" layout="column">
                <h3>{{vm.user.displayName}}</h3>
                <h4>{{vm.user.email}}</h4>
            </div>
            <md-divider ></md-divider>
            <md-list flex>
                <md-list-item class="md-3-line" ng-click="null">
                    <md-button class="md-fab md-mini md-primary" aria-label="Favorite">
                        <i class="fa fa-code"></i>
                    </md-button>
                    <div class="md-list-item-text" layout="column">
                        <h3>My Publication lists</h3>
                    </div>
                </md-list-item>
                <md-list-item class="md-3-line" ng-click="null">
                    <md-button class="md-fab md-mini md-primary" aria-label="Favorite">
                        <i class="fa fa-group"></i>
                    </md-button>
                    <div class="md-list-item-text" layout="column">
                        <h3>My Publications</h3>
                    </div>
                </md-list-item>
            </md-list>
        </md-content>
        <div flex="80" layout="column" class="parent-scrollable-div">
            <md-toolbar class="md-hue-3" >
                <div class="md-toolbar-tools">
                    <md-truncate class="toolbar-openpub-name">My Publication lists</md-truncate>
                    <span flex></span>
                    <md-button class="md-raised" ui-sref="newpublist">Create new List/md-button>
                </div>
            </md-toolbar
            <div layout="row" layout-align="center">
                <div layout="column" flex="80">
                    <md-card ng-repeat="pubList in vm.myPublists">
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">{{pubList.Name}}</span>
                                <span class="md-subhead">{{pubList.Description}}</span>
                            </md-card-title-text>
                            <md-card-title-media>
                                <img src="../../images/course-category-icon.png"/>
                            </md-card-title-media>
                        </md-card-title>
                        <md-card-actions layout="row" layout-align="start center">
                            <md-card-icon-actions>
                                <h4 class="card-duration-text"><i class="fa fa-clock-o"></i> 1hr 10min</h4>
                                <h4 class="card-updated-date-text"><i class="fa fa-calendar"></i> updated {{pubList.date}} by <i class="fa fa-user"></i> {{pubList.userName}}</h4>
                            </md-card-icon-actions>
                            <div layout="row" class="card-start-button">
                                <md-button class="md-raised md-primary" ng-click="vm.navigateToPubList(pubList)">Edit</md-button>
                            </div>
                        </md-card-actions>
                    </md-card>
                </div>
            </div>
        </div>
    </div>
</div>