<div ng-init="vm.initController()">
    <md-toolbar md-scroll-shrink class="md-primary">
        <div class="md-toolbar-tools">
            <span>
                <md-button ui-sref="openpub">OpenPub</md-button>
            </span>
            <span flex></span>
            <!-- Pre-Search Bar -->
            <div id="search-bar" ng-show="vm.showPreSearchBar()" class="md-toolbar-tools">
                <!-- Search button (initiates search) -->
                <md-button ng-click="vm.initiateSearch()">
                <md-icon>search</md-icon>
                <span>Search</span>
                </md-button>

            </div>

            <!-- Search bar -->
            <div ng-show="vm.showSearchBar()" class="md-toolbar-tools search-bar">

                <md-button class="md-icon-button" ng-click="vm.submit()">
                <md-icon>search</md-icon>
                </md-button>

                <!-- Input Text -->
                <md-input-container flex>
                <!-- <label for="search">Search</label> -->
                <input id="search-input" type="text" ng-model="vm.search" ng-click="vm.submit()" ng-enter="vm.submit()"/>
                </md-input-container>

                <md-button class="md-icon-button" ng-click="vm.endSearch()">
                <md-icon>close</md-icon>
                </md-button>
            </div>
            <div ng-if="vm.user">
                <span>
                    <md-button ui-sref="newpublist">Add new pub list</md-button>
                </span>
            </div>
            <div ng-if="!vm.user">
                <span>
                    <md-button ui-sref="auth">Sign In</md-button>
                </span>
            </div>
            <div ng-if="vm.user">
                <span>
                    <md-button ui-sref="auth" ng-click="vm.auth.$signOut()">Sign Out</md-button>
                </span>
            </div>
        </div>
    </md-toolbar>
</div>
<div layout="row">
    <div layout="column"></div>
    <md-divider ng-if="!$last"></md-divider>
    <div layout="column">
        
    </div>
    <md-divider ng-if="!$last"></md-divider>
    <div layout="column"></div>
</div>
<div layout="row" layout-padding>
    <div flex="10"></div>
    <div layout="column" flex="20" layout-align="start center">
        <md-toolbar class="md-hue-4">
            <div class="md-toolbar-tools">
                <span>Research Areas</span>
            </div>
        </md-toolbar>
        <md-button class="md-raised home-category-item" ng-click="vm.filterByResearchArea(null)" layout="row">
            <div flex="20" layout-margin>
               <md-button class="md-fab md-mini md-primary" aria-label="Favorite">
                    <md-icon class="fa fa-lightbulb-o"></md-icon>
                </md-button>
            </div>
            <div class="md-list-item-text" layout="column" flex="80" layout-align="start start">
                <text>All Research Areas</text>
            </div>
        </md-button>
        <md-button ng-repeat="ra in vm.filteredResearchAreas" class="md-raised home-category-item" ng-click="vm.filterByResearchArea(ra)" layout="row">
            <div flex="20" layout-margin>
               <md-button class="md-fab md-mini md-primary" aria-label="Favorite">
                    <md-icon class="fa fa-lightbulb-o"></md-icon>
                </md-button>
            </div>
            <div class="md-list-item-text" layout="column" flex="80" layout-align="start start">
                <text>{{ra.Name}}</text>
            </div>
        </md-button>
    </div>
    <div layout="column" flex="60">
        <md-toolbar class="md-hue-4">
            <div class="md-toolbar-tools selector-toolbar">
                <md-truncate >{{vm.selectedResearchAreaName}}</md-truncate>

                <!--<span flex></span>
                <md-select ng-model="weapon" placeholder="Category" class="md-no-underline">
                    <md-option value="Followed">Followed</md-option>
                    <md-option value="Popular">Popular</md-option>
                    <md-option value="Recent">Recent</md-option>
                </md-select>-->
            </div>
        </md-toolbar>
        <md-card ng-repeat="pubList in vm.filteredPubLists">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{pubList.name}}</span>
                    <span class="md-subhead">{{pubList.description}}</span>
                </md-card-title-text>
                <md-card-title-media>
                    <md-button class="md-fab md-mini md-primary" aria-label="Favorite">
                        <md-icon class="fa fa-lightbulb-o"></md-icon>
                    </md-button>
                </md-card-title-media>
            </md-card-title>
            <md-card-actions layout="row" layout-align="start center">
                <md-card-icon-actions>
                    <h4 class="card-updated-date-text"><i class="fa fa-calendar"></i> {{vm.getStringDate(pubList.date)}}</h4>
                </md-card-icon-actions>
                <div layout="row" class="card-start-button">
                    <md-button class="md-raised md-primary" ng-click="vm.navigateToPubList(pubList)">View</md-button>
                </div>
            </md-card-actions>
        </md-card>
    </div>
    
    <div flex="10"></div>
</div>
<div class="loading">Loading&#8230;</div>