<div ng-init="vm.initController()">
    <md-toolbar md-scroll-shrink class="md-primary">
        <div class="md-toolbar-tools">
            <span>
                <md-button ui-sref="openpub">OpenPub</md-button>
            </span>
            <span flex></span>
            <div ng-if="vm.user">
                <span>
                    <md-button ui-sref="newpublist">Add new pub list</md-button>
                </span>
            </div>
            <div ng-if="vm.user">
                <span>
                    <md-button ui-sref="myPubList">My pub list</md-button>
                </span>
            </div>
            <div ng-if="!vm.user">
                <span>
                    <md-button ui-sref="auth">Sign In</md-button>
                </span>
            </div>
            <div ng-if="vm.user">
                <span>
                    <md-button ui-sref="auth" ng-click="vm.auth.$signOut()">Sign Out</md-button>
                </span>
            </div>
        </div>
    </md-toolbar>
</div>
<div layout="row">
    <div layout="column"></div>
    <md-divider ng-if="!$last"></md-divider>
    <div layout="column">
        
    </div>
    <md-divider ng-if="!$last"></md-divider>
    <div layout="column"></div>
</div>
<div layout="row" layout-padding>
    <div flex="10"></div>
    <div layout="column" flex="50">
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{vm.publication.name}}</span>
                </md-card-title-text>
                <md-card-title-media>
                    <md-button class="md-primary md-raised" ng-click="vm.GoTOEditPub()" aria-label="Favorite">
                        <md-icon class="fa fa-lightbulb-o"></md-icon>
                        Edit Pub
                    </md-button>
                </md-card-title-media>
            </md-card-title>
            <md-card-content>
                <md-card-content layout="row" layout-wrap>
                    <a ng-repeat="tag in vm.publication.tags" class="tag">{{tag}}</a>
                </md-card-content>
                <h4>{{vm.publication.description}}</h4>
            </md-card-content>
            <!--<md-card-actions layout="row" layout-align="start center">
                <md-card-icon-actions>
                    <h4 class="card-updated-date-text">By <i class="fa fa-user"></i> testUser</h4>
                </md-card-icon-actions>
                <div layout="row" class="card-start-button">
                    <md-button class="md-raised md-primary">View</md-button>
                </div>
            </md-card-actions>-->
        </md-card>
    </div>
    <div layout="column" flex="30">
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">View Publication</span>
                </md-card-title-text>
                <md-card-title-media layout-align="center">
                </md-card-title-media>
            </md-card-title>
            <md-card-content>
                <md-card-content layout="row" layout-align="center center">
                    <a href="{{vm.publication.url}}"><md-icon class="fa fa-file-o fa-5x"> </md-icon></a>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                </md-card-content>
            </md-card-content>
        </md-card>
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Authers</span>
                </md-card-title-text>
                <md-card-title-media>
                    <md-button class="md-fab md-mini md-primary" aria-label="Favorite">
                        <md-icon class="fa fa-lightbulb-o"></md-icon>
                    </md-button>
                </md-card-title-media>
            </md-card-title>
            <md-card-content>
                <md-card-content layout="row" layout-wrap>
                    <a ng-repeat="auther in vm.publication.authers" class="tag">{{auther}}</a>
                </md-card-content>
            </md-card-content>
        </md-card>
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Meta Data</span>
                </md-card-title-text>
                <md-card-title-media>
                    <md-button class="md-fab md-mini md-primary" aria-label="Favorite">
                        <md-icon class="fa fa-lightbulb-o"></md-icon>
                    </md-button>
                </md-card-title-media>
            </md-card-title>
            <md-card-content>
                <li>Created User    : {{vm.publication.userName}}</li>
                <li>Created date    : {{vm.getStringDate(vm.publication.date)}}</li>
                <li ng-if="vm.publication.peerReviewed">Peer Reviewed   : YES</li>
                <li ng-if="!vm.publication.peerReviewed">Peer Reviewed   : NO</li>
                <li>Created date    : {{vm.publication.venue}}</li>
            </md-card-content>
            <!--<md-card-actions layout="row" layout-align="start center">
                <md-card-icon-actions>
                    <h4 class="card-updated-date-text">By <i class="fa fa-user"></i> testUser</h4>
                </md-card-icon-actions>
                <div layout="row" class="card-start-button">
                    <md-button class="md-raised md-primary">View</md-button>
                </div>
            </md-card-actions>-->
        </md-card>
    </div>
    
    <div flex="10"></div>
</div>
<div class="loading">Loading&#8230;</div>