<div layout="row" class="authentication-page-background" >
  <div flex="33" class="signin-card" flex-offset="33">
    <md-card class="md-primary">
        <md-content class="md-padding signin-card-color">
            <center>
                <i class="fa fa-lightbulb-o fa-5x main-logo-color"></i>
                <md-content class="signin-card-color">
                    <h1 class="text-theme-blue">OpenPub</h1>
                    <md-divider></md-divider>
                </md-content>
                <md-content class="md-padding signin-card-color">
                    <h3 class="text-theme-dark choose-option-text">Use your google account to sign in</h1>
                    <md-button class="md-raised signin-button signin-button-text" ng-click="vm.signin()">
                            <img align="middle" class="signin-button-img" src="../../images/google-icon.png" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href=""/>
                            <span>Sign in with Google</span>
                            <span flex></span>
                    </md-button>
                    <p ui-sref="openpub" class="link-text back-to-openpub-link" align="center">Back to <span class="text-theme-blue">openpub</span></p>
                </md-content>
            </center>
        </md-content>
    </md-card>
    
  </div>
</div>
<!--<div class="authentication-page-background"></div>-->