<div ng-init="vm.authenticateUser()">
    <div layout="column" layout-align="none none">
        <div flex>
            <md-toolbar md-scroll-shrink>
        <div class="md-toolbar-tools">
            <span>
                <md-button ui-sref="openpub">OpenPub</md-button>
            </span>
            <span flex></span>
            <div ng-if="!vm.user">
                <span>
                    <md-button ui-sref="auth">Sign In</md-button>
                </span>
            </div>
            <div ng-if="vm.user">
                <span>
                    <md-button ui-sref="auth" ng-click="vm.auth.$signOut()">Sign Out</md-button>
                </span>
            </div>
        </div>
    </md-toolbar>
        </div>
    </div>
    <div layout="row" layout-padding>
        <div layout="column" flex="10">
            
        </div>
        <div layout="column" flex="80">
            <md-content>
                <md-toolbar class="md-hue-3">
                    <div class="md-toolbar-tools">
                        <span>New Publication Upload</span>
                    </div>
                </md-toolbar>
                <div layout-margin>
                    <form name="newOpenpubForm">

                        <div layout-gt-sm="row">
                            <md-input-container class="md-icon-float md-block">
                                <!-- Use floating label instead of placeholder -->
                                <md-icon class="fa fa-user"></md-icon>
                                <input ng-model="vm.user.displayName" type="text" disabled>
                            </md-input-container>
                        </div>

                        <div layout-gt-sm="row">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Name</label>
                                <input name="listName" ng-model="vm.listName" required>
                                <div ng-messages="newOpenpubForm.listName.$error">
                                    <div ng-message="required">This is required.</div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Research Area</label>
                                <md-select name="researchArea" ng-model="vm.researchArea" required>
                                    <md-option ng-repeat="ra in vm.researchAreas" ng-value="{{ra}}">
                                        {{ra.Name}}
                                    </md-option>
                                </md-select>
                                <div ng-messages="newOpenpubForm.researchArea.$error">
                                    <div ng-message="required">This is required.</div>
                                </div>
                            </md-input-container>

                        </div>

                        <br/>
                        <md-chips ng-model="vm.tags" name="fruitName" readonly="vm.readonly"
                                        md-removable="vm.removable" placeholder="Tags">
                        </md-chips>
                        <br/>
                        <md-input-container class="md-block">
                            <label>Description</label>
                            <textarea name="description" ng-model="vm.listDescription" md-maxlength="500" rows="3" md-select-on-focus required></textarea>
                            <div ng-messages="newOpenpubForm.description.$error">
                                <div ng-message="required">This is required.</div>
                            </div>
                        </md-input-container>
                        <br/>
                        <md-checkbox md-no-ink aria-label="Publicly visible" ng-model="vm.isPublic" class="md-primary">
                            publicly visible
                        </md-checkbox>
                        <br/>
                        <div layout="row" layout-align="end">
                            <md-button class="md-raised">Cancel</md-button>
                            <md-button class="md-raised md-primary" type="submit" ng-click="vm.CreateElement()">Create New Publication</md-button>
                        </div>
                    </form>
                </div>
            </md-content>
        </div>
        <div layout="column" flex="10">
            
        </div>
    </div>
</div>