<div ng-init="vm.authenticateUser()">
    <div layout="column" layout-align="none none">
        <div flex>
            <md-toolbar md-scroll-shrink>
        <div class="md-toolbar-tools">
            <span>
                <md-button>openpub</md-button>
            </span>
            <span flex></span>
            <span>
                <md-button ui-sref="openpub">openpub</md-button>
            </span>
            <div ng-if="!vm.user">
                <span>
                    <md-button ui-sref="auth">Sign In</md-button>
                </span>
            </div>
            <div ng-if="vm.user">
                <span>
                    <md-button ui-sref="auth" ng-click="vm.auth.$signOut()">Sign Out</md-button>
                </span>
            </div>
        </div>
    </md-toolbar>
        </div>
    </div>
    <div layout="row" layout-padding>
        <div layout="column" flex="10">
            
        </div>
        <div layout="column" flex="80">
            <md-content>
                <md-toolbar class="md-hue-3">
                    <div class="md-toolbar-tools">
                        <span>New Publication Upload</span>
                    </div>
                </md-toolbar>
                <div layout-margin>
                    <form name="newOpenpubForm">

                        <div layout-gt-sm="row">
                            <md-input-container class="md-icon-float md-block">
                                <!-- Use floating label instead of placeholder -->
                                <md-icon class="fa fa-user"></md-icon>
                                <input ng-model="vm.newOpenpub.user" type="text" disabled>
                            </md-input-container>
                        </div>

                        <div layout-gt-sm="row">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Name</label>
                                <input ng-model="vm.newOpenpub.name">
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Research Area</label>
                                <md-select ng-model="vm.newOpenpub.researchArea">
                                <md-option ng-repeat="ra in vm.researchAreas" value="{{ra}}">
                                    {{ra}}
                                </md-option>
                                </md-select>
                            </md-input-container>

                        </div>

                        <div layout-gt-sm="row" class="space-top space-bottom">

                            <md-radio-group ng-model="vm.newOpenpub.status" layout="row">

                                <md-radio-button value="public" class="md-primary">Public</md-radio-button>
                                <md-radio-button value="private" class="md-primary"> Private </md-radio-button>

                            </md-radio-group>
                        </div>
                        <br/>
                        <md-chips ng-model="vm.tags" name="fruitName" readonly="vm.readonly"
                                        md-removable="vm.removable" placeholder="Tags">
                        </md-chips>
                        <br/>
                        <md-input-container class="md-block">
                            <label>Description</label>
                            <textarea ng-model="user.biography" md-maxlength="150" rows="3" md-select-on-focus></textarea>
                        </md-input-container>
                        <br/>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Upload File</label>
                            <input ng-model="vm.newOpenpub.file">
                        </md-input-container>
                        <div layout="row" layout-align="end">
                            <md-button class="md-raised">Cancel</md-button>
                            <md-button class="md-raised md-primary">Create New Publication</md-button>
                        </div>
                    </form>
                </div>
            </md-content>
        </div>
        <div layout="column" flex="10">
            
        </div>
    </div>
</div>